.about_container{
    display: flex;
    justify-content: center;
    color: black;
}

.about_title{
    display: flex;
    justify-content: center;
    color: black;
    font-size: 2em;
}

.about_content{
    color: black;
}

.about_container{
    display: flex;
    justify-content: center;
    color: black;
    padding: 1em;
}

.about_content{
    font-size: 1.6em;
}