.contact_container{
    padding:1em;
    border: 1px solid grey;
    border-radius: 10%;
    margin: 10%;
}

.enquiry_container{
    padding:1em;
    border: 1px solid grey;
    border-radius: 10%;
    margin: 1%;
}


.contact_title{
    font-size: 3em;
}

p{
    font-size: 2em;
}