.main_container{
    background-image:url("../Images/contact_img.jpeg") ;
}

.contact_container{
    padding:1em;
    border: 1px solid grey;
    border-radius: 10px;
    margin: 8%;
    background-color: aliceblue;
    margin-top: -15px;
}

.enquiry_container{
    padding:1em;
    border: 1px solid grey;
    border-radius: 10px;
    margin: 10%;
}

.contact_title{
    font-size: 3em;
    padding: 0.5em;
}

p{
    font-size: 2em;
}

.open_hours{
    padding: 1em;
}

.list_hours{
    font-size: 2em;
}

.grey_text{
    font-size: 1.5em;
    color: grey;
}