/* *{
    color: black;

} */

.title{
    font-size: 2.2em;
    color: black;
}

.container{
    /* padding: 1em; */
    color: black;
    display: flex;
    text-align:center
}

.table_info{
    font-size: 1.4em;
}

.table_row_title{
    font-size: 2em;
}


.container_list{
    width: 100%;
    padding-top:2em;
    display: block;
    justify-content: center;
}

.enquiry_btn{
    font-size: 1.5em;
    height: 60px;
    width: 200px;

}

.services_container{
    display: block;
    justify-content: center;
    padding: 1em;
    color: black;
}

.service_text{
    color: black;
}

.service_image{
        height: 25em;
        width: 60em;
}

/* .newbuild_container{
    display: inline-block;
    grid-column-start:3;
    grid-column-end: 4;
    border: 2px solid grey;
} */

