.Enquiry{
   padding:2em 0em 1em;

}

label{
   padding:0.3em;
   font-size: 1.6em;
}

.form_button{
   padding: 0.3em;
}

.btn_holder{
   display: flex;
   justify-content: center;
   padding: 1em;
}