.enquiry_form{
   padding:2em 0em 1em;
}

label{
   padding:0.3em;
   font-size: 1.6em;
}

.add_details{
<<<<<<< HEAD
   width: 350px;
=======
   width: 400px;
>>>>>>> ef7349e8183f08453630514eca98a167f3d89965
   height: 100px;
}

.form_button{
   padding: 0.3em;
}

.btn_holder{
   display: flex;
   justify-content: center;
   padding: 1em;
}