.enquiry_section{
   background-color: aliceblue;
}

.enquiry_title{
   padding: 1em 0em 0;
   text-decoration-line: underline;
   
}

.enquiry_form{
   padding:2em;
   background-color: white;
}

label{
   padding:0.3em;
   font-size: 1.6em;
}

.add_details{
   width: 350px;
   height: 100px;
}

.form_button{
   padding: 0.3em;
}

.btn_holder{
   display: flex;
   justify-content: center;
   padding: 1em;
}

