.services_container{
    display: flex;
    margin-left: auto;
    margin-right:auto;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 75%;
    padding: 1em;
}

.card_info_container{
    display: grid;
    display: inline;
    grid-row-gap:50px;
    grid-column-gap:50px;
    color: black;
}

.head_title{
    font-size: 5em;
    font-weight: 600;
    padding: 0.5em;
    color: black;
}

.logo_img_services{
        margin-left: auto;
        margin-right: auto;  
        padding: 1em;
    }

.head_services{
    border-bottom: 1px solid #E2E8F0;
    width: 100%;
}

.card{
    padding: 1.9em;
}

.card_title{
    color: #fff;
    font-size: 1.6em;
    background-color: #FF7429;
    margin-left:50px;
    margin-right:50px;
    font-weight: 500;
}

.card_text{
    color:black;
    font-size: 1.6em;
    margin-left:50px;
    margin-right:50px;
}

button{
    color: black;
    font-size: 4.6em;
}



/* Ipads */
@media screen and (max-width:1024px){
    .card_text{
        font-size: 2em;
    }

    .card_title{
        font-size: 2.4em;
    }

    .container_btn{
        font-size: 1.6em;
    }
    
}

/* Mobiles */
@media screen and (max-width:576px){
    .container{
        display:flex;
        align-items: center;
        font-size: 0.5em;
    }

    .card{
        width: fit-content;
    }

}