.header_container{
    background-image: url("../Images/head_kitchen_image.jpeg");
    padding:3em 3em 0em; /* top,sides,bottom */
    display: flex;
    justify-content: center;
}

.container{
    justify-content: center;
}

.header{
    margin-right: 100px;
}

.header_title{
    display: flex; 
    position: relative;
    font-size: 5em;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    color:rgb(43, 101, 226);
    font-weight: 600;
}

.head_text{
    font-size:2em;
    font-weight: 500;
    color: black
}


.head_items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.header_icon{
    font-size: 0.5em;
}

.btn_container{
    font-size:2em;
    padding-bottom: 0.5em;
}

.head_button{
    font-size: 0.8em;
    padding: 0.5em;
}
.logo_img{
    margin-left: auto;
    margin-right: auto;  
    height: 25em;
    padding: 1em;
    border-radius: 50%;
}
.header{
    border-bottom: 2px solid  #E2E8F0;
    width: 100%;
}

.head_info{
    display: flex;
    justify-content: center;
    color:rgb(43, 101, 226);
    font-size: 1.8em;
    font-weight: 500;
    padding: 0.1em 0 0.5em ;
    padding-right: 0.8em;
}

.fa-phone-alt{
  color: rgb(43, 101, 226);
  padding: 0.3em;
  font-size: 2em;
}


.fa-envelope{
    color: rgb(43, 101, 226);
    padding: 0.3em;
    font-size: 2em;
}

.centered{
    justify-content: center;
}

.btn-lg{
    font-size: 1.6rem;
}

.container-md{
    display: flex;
    justify-content: center;
}

/* Mobiles */
@media screen and (max-width:576px){
    .container-sm{
        display:block;
        align-items: center;
        margin-left: -60px;
        margin-right: -60px;
    }

    .header_container{
        padding: 0;
    }

    .head_info{
        display: block;
        font-size: 1em;
        font-weight: 500;
    }
}

/* Ipads */
@media screen and (max-width:1024px){
    .container-sm{
        display:block;
        align-items: center;
        margin-left: -60px;
        margin-right: -60px;
    }

    .header_container{
        padding: 0;
    }

    .head_info{
        display: block;
        font-size: 2.3em;
        font-weight: 500;
    }

    .head_button{
        font-size: 1em;
    }

}

/* Mobiles */
@media screen and (max-width:576px){
    .container{
        display:block;
        align-items: center;
        font-size: 0.5em;
    }
}
