.home_section{
    text-align: center;
    padding-top: 1em;
}

.welcome{
    width: 75%;
    margin: auto;
    width: 75%;
    border: 3px solid #FFFF00;
    border-radius: 10px;
    padding-top: em;
}

.home_section{
    background-color: #FF7429;
}