.home_section{
    text-align: center;
    padding-top: 1em;
}

.welcome_container{
    background-color: aliceblue;
    width: 75%;
    margin: auto;
    width: 75%;
    border: 3px solid #FFFF00;
    border-radius: 10px;
    padding-top: em;
}

.welcome_title{
    font-size: 3em;
}

.home_section{
    background-color: #FF7429;
}