@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

li {
    list-style: none;
    padding: 0.5em;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    background-color: none;
    width: 100%;
}

.nav_burger {
    display: none;
    color: grey
}

/* .bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;  
} */

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link{
    font-size: 1.6rem;
    font-weight: 400;
    color: #475569;
}

.nav-link:hover{
    color: rgb(43, 101, 226)
}

.nav-title {
    font-size: 2.1rem;
    font-weight: 500;
    color:rgb(43, 101, 226);
    
}

.nav_logo_img{
    width: 100;
    height: 100;
    border-radius:50%;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        right: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: #fff;
        width: 75%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
        z-index: 100;
    }

    .nav-menu.active {
        right: 0;
    }

    .navbar_start{
        display: block;
        text-align: center;
        padding:12px 12px;
        text-decoration: none;
    }

    .nav-link{
        font-size: 1.8rem;
        font-weight: 400;
        color: #475569;
    }

    .nav-item {
        margin: 2.5rem 0;
    }

    .nav_burger {
        display: block;
        cursor: pointer;
        float: right;
        font-size: 1.8em;
        width: 25px;
        height: 3px;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
        color: grey
    }

    .nav_logo_img{
        width: 100;
        height: 100;
        border-radius:50%;
    }


}

@media screen and (max-width:1024px) {
    .nav-item{
        font-size: 2.5em;
    
    }
}
